@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    align-items: center;
    background-color: #040934;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}

.menu_logo{
    border-radius: 50%;
    box-shadow: 0px 0px 7px #e1e4f9;
    height: 80px;
    width: auto;
}

.menu_link{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu_link_item{
    color: #e1e4f9;
    font-weight: 700;
    font-size: 24px; 
}

.menu_link_item:hover{
    transform: scale(1.04);
    text-shadow: 0px 0px 20px white;
}

.menu_link_item:active{
    transform: scale(0.9);
}

.gradient_header{
    height: 15vh;
    background: linear-gradient( #040934, #0c1c9d);
}

.inicio{
    background: #0c1c9d;
    padding: 56px;
}

.texto_imagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.inicio_texto{
    display: flex;
    flex-direction: column;
}

.inicio_texto_nome_profissao{
    text-align: center;
    line-height: 45px;
}

.inicio_texto_nome{
    font-weight: 900;
    font-size: 56px;
    color: #c3c9f4;
}

.inicio_texto_profissao{
    font-weight: 300;
    font-size: 22px;
    color: #e1e4f9;
}

.inicio_imagem{
    margin-top: 10vh;
    height: 30vh;
    width: auto;
}

.inicio_contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 12vh;
}

.inicio_contato i:hover{
    transform: scale(1.3);
    text-shadow: 0px 0px 20px #e1e4f9;
}

.inicio_contato i:active{
    transform: scale(0.9);
}

.inicio_contato_item i{
    font-size: 24px;
    color: #e1e4f9;
}

.gradient_inicio{
    height: 25vh;
    background: linear-gradient(#0c1c9d, #0e20b7);
}

.sobre{
    background: linear-gradient(#0e20b7, #2e40d7);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.sobre_titulo{
    color: #c3c9f4;
    font-size: 2em;
    font-weight: 700;
}

.sobre_texto{
    color: white;
    font-weight: 100;
    font-size: 22px;
    margin-top: 2.5em;
    width: 50%;
}

.sobre_skill,
.sobre_escolaridade,
.sobre_informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 9.5em;
    color: white;
}

.sobre_skill_titulo{
    font-size: 1.6em;
}

.sobre_skill_texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-weight: 400;
    margin-top: 1em;
    font-size: 1.2em;
}

.sobre_escolaridade i{
    font-size: 1.5em;
}

.sobre_escolaridade{
    font-size: 16px;
}

.sobre_informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5em;
}

.gradient_sobre{
    background: linear-gradient(#2e40d7, #4c5cdd);
    height: 15vh;
}

.projetos,
.contato,
.certificados{
    background: #4c5cdd;
}

.projetos,
.contato,
.certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos_titulo,
.contato_titulo,
.certificados_titulo{
    color: black;
    font-size: 2em;
    font-weight: 700;
}

.projetos p,
.certificados p{
    font-size: 8em;
}

.gradient_projetos{
    height: 15vh;
    background: #4c5cdd;
}

.contato_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    font-size: 40px;
    margin-top: 1em;
}

.contato_link_item:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.certificados{
    padding: 50px;
}

.wrapper{
    max-width: 1200px;
    position: relative;
}

.wrapper i{
    top: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    background-color: #a5adee;

    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -25px;
}

.wrapper i:last-child{
    right: -25px;
}

.wrapper .carrossel{
    white-space: nowrap;
    font-size: 5px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carrossel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carrossel.dragging img{
    pointer-events: none;
}

.carrossel img{
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
    width: calc(100%/2.2);
}

.carrossel img:first-child{
    margin-left: 0px;
}

.gradient_certificados{
    height: 20vh;
    background: linear-gradient(#4c5cdd, #a5adee);
}

footer{
    background: #a5adee;
    text-align: center;
    padding: 1.5em;
    font-size: 0.7em;
}

@media(max-width:900px){
    .menu_logo{
        height: 65px;
        width: auto;
    }

    .menu_link{
        gap: 30px;
    }

    .menu_link_item{
        font-size: 18px; 
    }

    .inicio{
        gap: 60px;
        padding: 36px;
    }

    .inicio_texto_nome_profissao{
        line-height: 30px;
    }

    .inicio_texto_nome{
        font-size: 32px;
    }

    .inicio_texto_profissao{
        font-size: 18px;
    }

    .sobre_texto{
        font-size: 20px;
        width: 65%;
    }

    .contato_link{
        gap: 60px;
        font-size: 36px;
    }
}

@media(max-width:720px){
    .menu_logo{
        height: 50px;
        width: auto;
    }

    .menu_link{
        gap: 16px;
    }

    .menu_link_item{
        font-size: 12px; 
    }

    .texto_imagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inicio_texto_nome_profissao{
        line-height: 30px;
    }

    .inicio_texto_nome{
        font-size: 34px;
    }

    .inicio_texto_profissao{
        font-size: 16px;
    }

    .sobre_texto{
        font-size: 18px;
        width: 80%;
    }

    .sobre_escolaridade{
        font-size: 14px;
    }

    .contato_link{
        gap: 40px;
        font-size: 32px;
    }
}
