@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    align-items: center;
    background-color: #040934;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.2em;
}

.menu_logo{
    border-radius: 50%;
    box-shadow: 0px 0px 7px #e1e4f9;
    height: 85px;
    width: auto;
}

.menu_link{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.menu_link_item{
    color: #e1e4f9;
    font-weight: 700;
    font-size: 1.4em; 

}

.menu_link_item:hover{
    transform: scale(1.04);
    text-shadow: 0px 0px 20px white;
}

.menu_link_item:active{
    transform: scale(0.9);
}

.gradient_header{
    height: 15vh;
    background: linear-gradient( #040934, #0c1c9d);
}

.inicio{
    background: #0c1c9d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    padding: 4em;
}

.inicio_texto{
    display: flex;
    flex-direction: column;
    gap: 20em;
}

.inicio_texto_nome_profissao{
    text-align: center;
    line-height: 3.3em;
}

.inicio_texto_nome{
    font-weight: 900;
    font-size: 4.5em;
    color: #c3c9f4;
}

.inicio_texto_profissao{
    font-weight: 300;
    font-size: 1.3em;
    color: #e1e4f9;
}

.inicio_contato{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5em;
}

.inicio_contato i:hover{
    transform: scale(1.3);
    text-shadow: 0px 0px 20px #e1e4f9;
}

.inicio_contato i:active{
    transform: scale(0.9);
}

.inicio_contato_item i{
    font-size: 1.5em;
    color: #e1e4f9;
}

.inicio_imagem{
    height: 30vh;
    width: auto;
}

.gradient_inicio{
    height: 25vh;
    background: linear-gradient(#0c1c9d, #0e20b7);
}

.sobre{
    background: linear-gradient(#0e20b7, #2e40d7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_titulo{
    color: #c3c9f4;
    font-size: 2em;
    font-weight: 700;
}

.sobre_texto{
    color: white;
    font-weight: 100;
    font-size: 1.5em;
    margin-top: 2.5em;
    width: 50%;
}

.sobre_skill,
.sobre_escolaridade,
.sobre_informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 9.5em;
    color: white;
}

.sobre_skill_titulo{
    font-size: 1.6em;
}

.sobre_skill_texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-weight: 400;
    margin-top: 1em;
    font-size: 1.2em;
}

.sobre_escolaridade i{
    font-size: 1.5em;
}

.sobre_escolaridade{
    font-size: 1em;
}

.sobre_informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5em;
}

.gradient_sobre{
    background: linear-gradient(#2e40d7, #4c5cdd);
    height: 15vh;
}

.projetos,
.contato,
.certificados{
    background: #4c5cdd;
}

.projetos,
.contato,
.certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos_titulo,
.contato_titulo{
    color: black;
    font-size: 2em;
    font-weight: 700;
}

.gradient_projetos{
    height: 15vh;
    background: #4c5cdd;
}

.contato_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    font-size: 2.5em;
    margin-top: 1em;
}

.gradient_certificados{
    height: 15vh;
    background: linear-gradient(#4c5cdd, #a5adee);
}

footer{
    background: #a5adee;
    text-align: center;
    padding: 1.5em;
    font-size: 0.7em;
}